.about {
    margin: auto;

    h1 {
        margin-bottom: 20px;
    }

    button {
        min-width: 200px;
        height: 40px;
    }

    input {
        min-width: 200px;
        height: 40px;
        padding: 0 8px;
    }
}