.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.8s ease;
    z-index: 50;
    background: linear-gradient(90deg, #2a90fd 0%, #7be2ff 5%, #7be2ff 95%, #2a90fd 100%);
    opacity: 1;

    &.hidden {
        opacity: 0;
        transform: translateY(-100%);
    }
}