.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.9s ease;
    z-index: 50;
    opacity: 1;
    border-bottom: 1px solid rgb(200, 200, 255);

    &.hidden {
        opacity: 0.4;
        transform: translateY(-100%);
    }

    .logo {
        flex: 1;
    }
}